body {
    background-color: black;
    font-family: arial;
}

fieldset {
    background-color: darkgray;
    border: 10px solid red;
    margin-bottom: 10px;
    width: 720px;
}

label {
    width: 180px;
    display: inline-block;
    align="right";
    align="top";
}

label:hover {
    font-size: 25px;
}

textarea {
    width: 360px;
    height: 50px;
}
